<!-- Row 1: Sales Overview + Recent Transactions -->
<div class="row">
  <div class="col-lg-8 col-12" data-test-id="dashboard-sales-overview">
    <app-sales-overview></app-sales-overview>
  </div>
  <div class="col-lg-4 col-12" data-test-id="dashboard-recent-transactions">
    <app-daily-activities></app-daily-activities>
  </div>
</div>

<!-- Row 2: Product Performance Table -->
<div class="row m-t-24">
  <div class="col-12" data-test-id="dashboard-product-performance">
    <app-product-performance></app-product-performance>
  </div>
</div>

<!-- Row 3: Product Cards -->
<div class="row m-t-24">
  <div class="col-12" data-test-id="dashboard-product-cards">
    <app-blog></app-blog>
  </div>
</div>